* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: white;
  height: 100%;
}
.header {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgba(2, 53, 113),
    rgba(1, 19, 41)
  );
  /* url(./img/rm373batch5-18.jpg); */
  /* url(./img/rm373batch5-18.jpg); */
  background-size: cover;
  position: relative;
}

.topnav {
  position: absolute;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  z-index: 2;
  padding: 10px;
  left: 60%;
}

.topnav a {
  color: white;
  position: relative;
  text-decoration: none;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}
nav a::before {
  content: attr(data-item);
  color: rgb(109, 204, 196);
  position: absolute;
  width: 0;
  overflow: hidden;
}

nav a:hover,
nav a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.heading-primary {
  color: white;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  text-transform: uppercase;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.heading-primary--sub {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.header__text-box {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
}

.header__image-box {
  position: absolute;
  top: 0%;
  right: -50%;
}

.heading-image {
  width: 500px;
  height: 500px;
  opacity: 0.6;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(black, 0.2);
}
/* .btn::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */
.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
}
.btn--main {
  background-image: linear-gradient(
    to right,
    rgb(109, 204, 196),
    rgb(86, 40, 236)
  );
  color: white;
}

/* .btn::after {
  background-image: linear-gradient(
    to right,
    rgb(109, 204, 196),
    rgb(86, 40, 236)
  );
} */

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
} */

.section-requirement {
  background-image: linear-gradient(to right, rgba(2, 53, 113), rgba(1, 19, 41))
    /*,
    url(./img/rm373batch5-18.jpg)*/;
  padding: 20rem 0;
  margin-top: 10rem;
  height: 50vh;
  position: relative;
}

.project-box {
  background-image: linear-gradient(
    to right,
    rgb(109, 204, 196),
    rgb(86, 40, 236)
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
}
.u-margin-top {
  margin-top: -10rem;
}
.u-center-text {
  text-align: center;
}
.heading-secondary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
}
