* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: white;
  height: 100%;
}
.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(2, 53, 113, 0.8),
      rgba(1, 19, 41, 0.8)
    ),
    url(./img/rm373batch5-18.jpg);
  /* url(./img/rm373batch5-18.jpg); */
  background-size: cover;
  position: relative;
}

.topnav {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  z-index: 2;
  padding: 10px;
  left: 60%;
}

.topnav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.topnav a:hover {
  color: #6dccc4;
}
.topnav a {
  font-style: unset;
}
.topnav .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.heading-primary {
  color: white;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  text-transform: uppercase;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.heading-primary--sub {
  display: block;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

.header__text-box {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
}

.header__image-box {
  position: absolute;
  top: 30%;
  right: -35%;
}
