* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: white;
  height: 100%;
}
.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(2, 53, 113, 0.8),
      rgba(1, 19, 41, 0.8)
    ),
    url(./img/rm373batch5-18.jpg);
  /* url(./img/rm373batch5-18.jpg); */
  background-size: cover;
  position: relative;
}

.topnav {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  z-index: 2;
  padding: 10px;
  left: 60%;
}

.topnav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.topnav a:hover {
  color: #6dccc4;
}
.topnav a {
  font-style: unset;
}
.topnav .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.heading-primary {
  color: white;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  text-transform: uppercase;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.heading-primary--sub {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.header__text-box {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
}

.header__image-box {
  position: absolute;
  top: 0%;
  right: -50%;
}

.heading-image {
  width: 500px;
  height: 500px;
  opacity: 0.6;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(black, 0.2);
}
/* .btn::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */
.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
}
.btn--main {
  background-image: linear-gradient(
    to right,
    rgb(109, 204, 196),
    rgb(86, 40, 236)
  );
  color: white;
}

/* .btn::after {
  background-image: linear-gradient(
    to right,
    rgb(109, 204, 196),
    rgb(86, 40, 236)
  );
} */

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
} */
